.banner_fgjh768hh {
  position: fixed !important;
  top: 30px !important;
  left: 50px !important;
  z-index: 10000 !important;
  background-color: rgb(255, 248, 228) !important;
  border-radius: 3px !important;
  border: 1px solid rgb(236, 229, 208) !important;
  max-width: 350px !important;
  height: 172px !important;
  padding: 20px !important;
}

.text_fgjh768hh {
  color: rgb(29, 27, 11) !important;
  font-size: 24px !important;
  margin-bottom: 30px !important;
}

.btn-wrap_fgjh768hh {
  display: flex !important;
  justify-content: space-between !important;
}

.btn_fgjh768hh {
  background-color: rgb(255, 251, 230) !important;
  font-size: 18px !important;
  text-transform: uppercase !important;
  color: rgb(29, 27, 11) !important;
  padding: 5px 10px 4px !important;
  box-shadow: none !important;
  border: 2px solid rgb(29, 27, 11) !important;
  border-radius: 2px !important;
  outline: none !important;
  cursor: pointer !important;
}

.btn_fgjh768hh:hover {
  background-color: rgb(248, 241, 205) !important;
}

.btn_fgjh768hh:active {
  background-color: rgb(255, 251, 230) !important;
}
